@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-brand-500: #2f8dda;
    --text-brand-100: #2f8dda;
}

:root {
  color-scheme: dark;
}

html {
  background-color: var(--color-zinc-950);
}